* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px 10px 15px;
  min-height: 50vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  overflow-y: scroll;
}

.background__change-color {
  height: 120vh;
  position: absolute;
  z-index: -9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.background__change-color .bgn {
  border-radius: 50%;
  animation: gradient 2.5s infinite alternate-reverse;
}

.background__change-color .bgn:nth-child(1) {
  height: 90%;
  width: 98%;
  position: absolute;
  left: -20%;
  top: -10%;
  background: #495C83;
}

.background__change-color .bgn:nth-child(2) {
  height: 80%;
  width: 60%;
  position: absolute;
  right: -12%;
  top: -12%;
  background: #7A86B6;
}

.background__change-color .bgn:nth-child(3) {
  height: 75%;
  width: 85%;
  position: absolute;
  bottom: -15%;
  right: -20%;
  background: #A8A4CE;
}

.background__change-color .bgn:nth-child(4) {
  height: 60%;
  width: 80%;
  background: #C8B6E2;
  position: absolute;
  bottom: -20%;
  left: -18%;
}

.background__change-color::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
}

.profile {
  max-width: 500px;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.profile .header {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 40px;
  z-index: 9999;
}

.profile .header .img__profile {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.profile .header .title {
  color: #fff;
  font-size: 17px;
  padding: 2px;
  line-height: 25px;
  font-weight: 700;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
  font-family: 'Roboto', sans-serif;
}

.profile .header .slogan {
  color: #fff;
  font-size: 15px;
  opacity: 0.8;
  font-weight: 500;
  font-family: sans-serif;
}

.profile .header .email {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 15px;
  opacity: 0.8;
  font-weight: 500;
  font-family: sans-serif;
  padding: 3px;
}

.profile .social__media {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: -10px;
  padding: 10px;
}

.profile .social__media .social {
  width: 100%;
  padding: 10px;
}

.profile .social__media .social a {
  text-decoration: none;
}

.profile .social__media .social li {
  width: 100%;
  background: #fff;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  border-radius: 24px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px 12px;
  font-family: sans-serif;
}

.profile .social__media .social li i {
  font-size: 40px;
  color: #fff;
  text-decoration: none;
}

.profile .social__media .social li.facebook {
  background: #2d86ff;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.profile .social__media .social li.facebook i {
  font-size: 30px;
}

.profile .social__media .social li.instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 35%, #d6249f 60%, #285AEB 90%);
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.profile .social__media .social li.zalo {
  background: #285AEB;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.profile .social__media .social li.snapchat {
  background: #fffc00;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.profile .social__media .social li.youtube {
  background: #f80101;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.profile .social__media .social li.twitter {
  background: #1d9bf0;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.profile .social__media .social li.pinterest {
  background: #e60023;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.profile .social__media .social li.tiktok {
  background: #000;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.profile .social__media .social li.tiktok i {
  color: #fff;
  text-shadow: 2px 2px #ff3353fc, -2px -2px cyan;
  font-size: 30px;
}

.profile .share__button {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #6C4AB6;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.profile .share__button i {
  font-size: 20px;
  color: #fff;
}

.profile .url-text {
  position: absolute;
  top: 0%;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 7px 12px;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-family: 'Roboto', sans-serif;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.profile .add-ani {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.music__feature {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #1ed760;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.music__feature i {
  font-size: 20px;
  color: #fff;
}

.modal {
  position: fixed;
  bottom: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 10%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateY(300%);
          transform: translateY(300%);
}

.modal .content__modal {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: c;
      -ms-flex-pack: c;
          justify-content: c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
}

.add__music {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.music__play {
  max-width: 500px;
  width: 100%;
}

.ani__dics {
  -webkit-animation: 20s animation infinite alternate;
          animation: 20s animation infinite alternate;
}

@-webkit-keyframes animation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loading__page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading__page .mesh-loader {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.loading__page .mesh-loader .circle {
  width: 25px;
  height: 25px;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  margin: -12.5px;
  -webkit-animation: mesh 3s ease-in-out infinite;
  animation: mesh 3s ease-in-out infinite -1.5s;
}

.loading__page .mesh-loader > div .circle:first-child {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.loading__page .mesh-loader > div {
  position: absolute;
  top: 50%;
  left: 50%;
}

.loading__page .mesh-loader > div:first-child {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.loading__page .mesh-loader__2 {
  overflow: hidden;
  height: 100%;
  width: 100%;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.loading__page .mesh-loader__2 .circle {
  width: 25px;
  height: 25px;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  margin: -12.5px;
  -webkit-animation: mesh 3s ease-in-out infinite;
  animation: mesh 3s ease-in-out infinite -1.5s;
}

.loading__page .mesh-loader__2 > div .circle:first-child {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.loading__page .mesh-loader__2 > div {
  position: absolute;
  top: 50%;
  left: 50%;
}

.loading__page .mesh-loader__2 > div:first-child {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.loading__page .mesh-loader__2 > div:last-child {
  -webkit-transform: rotate(135.5deg);
  transform: rotate(135.5deg);
}

@-webkit-keyframes mesh {
  0% {
    -webkit-transform-origin: 50% -100%;
    transform-origin: 50% -100%;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform-origin: 50% -100%;
    transform-origin: 50% -100%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  50.00001% {
    -webkit-transform-origin: 50% 200%;
    transform-origin: 50% 200%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: 50% 200%;
    transform-origin: 50% 200%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes mesh {
  0% {
    -webkit-transform-origin: 50% -100%;
    transform-origin: 50% -100%;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform-origin: 50% -100%;
    transform-origin: 50% -100%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  50.00001% {
    -webkit-transform-origin: 50% 200%;
    transform-origin: 50% 200%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: 50% 200%;
    transform-origin: 50% 200%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes gradient {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@keyframes gradient {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}
/*# sourceMappingURL=style.css.map */