* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
    
}
body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px 10px 15px;
    min-height: 50vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    overflow-y: scroll;
}
.background__change-color
{
  height: 120vh;
  position: absolute;
  z-index: -9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  
  .bgn
  {
    border-radius: 50%;
    animation:  gradient 2.5s infinite alternate-reverse;
  }
  .bgn:nth-child(1){
    height: 90%;
    width: 98%;
    position: absolute;
    left: -20%;
    top: -10%;
    background: #000000;

  }
  .bgn:nth-child(2){
    height: 80%;
    width: 60%;
    position: absolute;
    right: -12%;
    top: -12%;
    background: #CF0A0A;
  }
  .bgn:nth-child(3){
    height: 75%;
    width: 85%;
    position: absolute;
    bottom: -15%;
    right: -20%;
    background: #DC5F00
    ;
  }
  .bgn:nth-child(4){
    height: 60%;
    width: 80%;
    background: #EEEEEE;
    position: absolute;
    bottom: -20%;
    left: -18%;
  }
}
.background__change-color::after
{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(80px); 
}

.profile 
{
 
    max-width: 500px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    position: relative;
    overflow: hidden;
    .header 
    {
     
        text-align: center;
        margin-bottom: 0px;
        margin-top: 40px;
        z-index: 9999;
        .img__profile 
        {
          width: 90px;
          height: 90px;
          border-radius: 50%;
         margin-left: auto;
         margin-right: auto;
         box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        } 
        .title 
        {
         color: #fff;
         font-size: 17px;
         padding: 2px;
         line-height: 25px;
         font-weight: 700;
         text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
         font-family: 'Roboto', sans-serif;
        }
        .slogan 
        {
            color: #fff;
            font-size: 15px;
            opacity: 0.8;
            font-weight: 500;
            font-family: sans-serif;
        }
        .email 
        {
          font-family: 'Roboto', sans-serif;
          color: #fff;
          font-size: 15px;
          opacity: 0.8;
          font-weight: 500;
          font-family: sans-serif;
          padding: 3px;
        }
    }
   .social__media 
   {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: -10px;
    padding: 10px;
   .social
   {
    width: 100%;
    padding: 10px;
    
    a 
    {
      text-decoration: none;
    }
    li 
    {
      width: 100%;
      background: #fff;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      border-radius: 24px;
      margin: 10px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      margin-top: 20px;
      padding: 10px 12px;
      font-family: sans-serif;
   
    
      i 
      {
        font-size: 40px;
        color: #fff;
        text-decoration: none;
      }
      
    }
      li.facebook 
      {
        background: #2d86ff;
        box-shadow: 0px 3px 10px rgba(0,0,0,.25);
        i 
        {
          font-size: 30px;
        }
      }
      li.instagram
      {
        background: #d6249f;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 35%,#d6249f 60%,#285AEB 90%);
        box-shadow: 0px 3px 10px rgba(0,0,0,.25);
      }
      li.zalo 
    {
      background: #285AEB;
      color: #fff;
      font-size: 25px;
      font-weight: 600;
      box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    }
    li.snapchat 
    { 
       background: #fffc00;
       box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    
    }
    li.youtube
    {
      background: #f80101;
      box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    }
    li.twitter
    {
      background: #1d9bf0;;
      box-shadow: 0px 3px 10px rgba(0,0,0,.25);

    }
    li.pinterest
    {
      background: #e60023;;
      box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    }
  
      li.tiktok
      {
        background: #000;
        box-shadow: 0px 3px 10px rgba(0,0,0,.25);
         i 
         {
          color: #fff;
          text-shadow: 2px 2px #ff3353fc,
                 -2px -2px cyan;
          font-size: 30px;
         }
      }
   }
   }
   .share__button 
   {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #6C4AB6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    i 
    {

      font-size: 20px;
      color: #fff;
    }
   }
   .url-text 
   {
    position: absolute;
    top: 0%;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    padding: 7px 12px;
    opacity: 0;
    transition: 0.4s;
    font-family: 'Roboto', sans-serif;
    transform: translateY(-60%);
   
   }
   .add-ani
   {
    transform: translateY(0%);
    opacity: 1;
   }
}


.music__feature
{
  position: absolute;
  top: 2%;
  right: 2%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #1ed760;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
 
  cursor: pointer;
  i 
  {

    font-size: 20px;
    color: #fff;
  }
}

.modal 
{
  position: fixed;
  bottom: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 10%;
  transition: 0.4s;
  transform: translateY(300%);
  .content__modal
  {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: c;
    align-items: center;
    flex-direction: column;
    background: #fff;
    
  }
}
.add__music
{
  transform: translateY(0);
}
.music__play 
{
  max-width: 500px;
  width: 100%;
}
.ani__dics 
{
  animation: 20s animation infinite alternate;
}
@keyframes animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}



.loading__page 
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  .mesh-loader {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.mesh-loader .circle {
    width: 25px;
    height: 25px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    margin: -12.5px;
    -webkit-animation: mesh 3s ease-in-out infinite;
    animation: mesh 3s ease-in-out infinite -1.5s;
}

.mesh-loader > div .circle:first-child {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.mesh-loader > div {
    position: absolute;
    top: 50%;
    left: 50%;
}

.mesh-loader > div:first-child {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.mesh-loader__2 {
  overflow: hidden;
  height: 100%;
  width: 100%;
  animation-delay: 3s;
}

.mesh-loader__2 .circle {
  width: 25px;
  height: 25px;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  margin: -12.5px;

  -webkit-animation: mesh 3s ease-in-out infinite;
  animation: mesh 3s ease-in-out infinite -1.5s;
}

.mesh-loader__2 > div .circle:first-child {
-webkit-animation-delay: 0s;
animation-delay: 0s;
}

.mesh-loader__2 > div {
  position: absolute;
  top: 50%;
  left: 50%;
}

.mesh-loader__2 > div:first-child {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mesh-loader__2 > div:last-child {
  -webkit-transform: rotate(135.5deg);
  transform: rotate(135.5deg);
}
@-webkit-keyframes mesh {
  0% {
    -webkit-transform-origin: 50% -100%;
            transform-origin: 50% -100%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform-origin: 50% -100%;
            transform-origin: 50% -100%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50.00001% {
    -webkit-transform-origin: 50% 200%;
            transform-origin: 50% 200%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: 50% 200%;
            transform-origin: 50% 200%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes mesh {
  0% {
    -webkit-transform-origin: 50% -100%;
            transform-origin: 50% -100%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform-origin: 50% -100%;
            transform-origin: 50% -100%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50.00001% {
    -webkit-transform-origin: 50% 200%;
            transform-origin: 50% 200%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: 50% 200%;
            transform-origin: 50% 200%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

}
@keyframes gradient {
  from{
    transform: scale(1.0);
  }to {
    transform: scale(1.3);
  }
}
